a, button, table thead th, label, ul li a , span {
	font-family: 'Open Sans', Sans Serif;
}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-brand .navbar-left {
	margin-bottom:15px;
}
.nav-pills > li > a:hover {
	background-color: #e31837 !important;
	color: #fff !important;
}
.nav-stacked {
	background-color: #DDD;
}
.dropdown-toggle {
	color: #337ab7 !important;
}
.dropdown-toggle:hover, .dropdown-toggle:focus {
	color: #fff !important;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	color: #337ab7 !important;
} 
.footer {
	font-family: 'Open Sans', Sans Serif; 
}
#safe-dropdown > a:hover {
	color: #fff !important;
}
.safe-heading-label, .page-header {
	font-family: 'Open Sans', Sans Serif !important; 
}

.footer {
	font-family: 'Open Sans', Sans Serif;
	padding-top: 10px;
	font-size: 12px;
} 
.tag-line {
	line-height: 27px !important;
	margin-top:10px !important;
}
.mobile {
	display: none;
}
.desktop {
	display: none;
}
.pad-left-10px {
	padding-left: 10px;
}
.pad-left-5px {
	padding-left: 5px;
}
.vertical-align-middle {
	vertical-slign: middle;
}
.clear-left {
	clear:left;
}
@media (max-width: 768px) {
  #navbar li { width:100%; }
}
@media screen and (max-width: 480px) {
	#logo {
		padding-left: 0px !important;
	}
	#safe-logo {
		margin-top: -50px !important;
	}
	.mobile {
		display:block;
	}
}
@media (min-width: 1200px) {
	
	.desktop {
		display: block;
	}
}